body{
    padding:0;
    margin: 0;
    text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background:lightblue
}
a {
    text-decoration: none;
    color: blue
}
a:unvisited{
    color:blue
}
/* a:visited changes apperance for visited links */
h1{
    padding:10px
}

h2 {
    color: #4710eb;
}
p {
    color: sienna;
    font-family: 'Courier New', Courier, monospace, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}
.title {
    color:mediumslateblue;
    border: groove blue thick;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.link {
    color: rosybrown;
    font-family: 'Times New Roman', Times, serif;
}
.about_me {
    color: rgb(15, 136, 136);
    font-family: 'Courier New', Courier, monospace, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;

}

.background {
    font-family: 'Courier New', Courier, monospace, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

.skills {
    font-family: 'Courier New', Courier, monospace, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    text-align:inherit;
}
.skills li{
    border-radius: 6px;
    display:inline-block;
    background:orange;
    color:white;
    padding: 5px 10px;
    margin: 2px;

}
.experience{
    color:blue
}
.experience li{
    font-family: 'Courier New', Courier, monospace, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    color:rebeccapurple

}
.main-nav {
    width: 100%;
    min-height: 30px;
    padding: 5px;
    text-align: center;
    color:blue;

  }
  .nav {
    display:flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }

.image {
    border-radius: 60%;
}

.social li a, .social li{
    color: sienna;
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    justify-content: space-around;
    font-weight: 500;
    width: 90%;
    padding: 2px 10px;
}